body {
  font-family: 'Poppins', sans-serif;
  background-color:#283036;
}
ul,
ol {
  margin: 0;
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}
.logo {
  font-weight: 600;
  font-size: 22px;
  line-height: calc(33 / 22);
  color: rgba(255, 255, 255, 0.9);
}

.menu-item {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  color: rgba(255, 255, 255, 0.55);
}
.enter-button {
  font-weight: 600;
  font-family: inherit;
  font-size: 16px;
  line-height: calc(24 / 16);
  color: rgba(255, 255, 255, 0.78);
  background-color: transparent;
  cursor: pointer;
  padding: 12px 28px;
  border: none;
  border-radius: 8px;
}

.enter-button:hover,
.enter-button:focus {
  background-color: #ff6e30;
}

/* HERO */

.hero-title {
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: calc(70 / 50);

  color: rgba(255, 255, 255, 0.9);
}

.hero-description {
  font-size: 18px;
  line-height: calc(30 / 18);

  color: rgba(255, 255, 255, 0.55);
}


/* Most Popular Tools */
.title{
    font-weight: 500;
    font-size: 48px;
    line-height: calc(62/48);
    color: rgba(255, 255, 255, 0.9);
}
.tools-title{
  font-weight: 500;
    font-size: 24px;
    line-height: calc(36/24);
    color: rgba(255, 255, 255, 0.78);
}

.tools-text {
  font-size: 16px;
  line-height: calc(30 / 16);

  color: rgba(255, 255, 255, 0.55);
}

.tools-span{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(27/18);
    color: rgba(255, 165, 55, 0.55);
}

.button-tools{
    font-weight: 500;
    font-size: 20px;
    line-height: calc(30/20);
    color: #FF6E30;
    font-family: inherit;

    background-color: transparent;
      cursor: pointer;
      padding: 12px 28px;
      border: 1px solid;
      border-radius: 8px;
      border-color: rgba(255, 255, 255, 0.1)
}
.button-tools:hover,
.button-tools:focus{
  background-color: #FF6E30;
  color: rgba(255, 255, 255, 0.78);
}
/* Trusted */
.trusted-title{
    font-weight: 500;
    font-size: 24px;
    line-height: calc(36/24); 
    color: rgba(255, 255, 255, 0.8);
}
.description{
  font-weight: 500;
  font-size: 18px;
  line-height: calc(30/18);
  color: rgba(255, 255, 255, 0.55);
}
